@media (max-width: 805px){
    .cabecalho{
        justify-content: center;
        flex-direction: column;
        padding: 50px 0px;
        gap: 15px;
    }

    .cabecalho .menu li a{
        padding: 15px;
    }

    .home .informacoes{
        padding: 30px;
    }

    .homme .informacoes img{
        max-width: 100px;
    }

    .home .informacoes .titulo{
        font-size: 40px;
    }

    .compre-ja .cartao{
        width: 75%;
    }

    .btn-plataforma{
        color: #fff;
        width: 18cap;
        cursor: pointer;
    }
}

@media (max-width: 600px){
    .compre-ja{
        padding: 80px 20px;
        width: 100%;
    }

    .compre-ja .informacoes h3{
        font-size: 35px;
    }

    .compre-ja .informacoes .plataformas{
        flex-direction: column;
    }

    .btn-plataforma{
        margin-top: 15px;
        padding: 15px;
    }

    .btn-compra{
        width: 100%;
    }
}

@media (max-width: 420px) {
    main::after{
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4) 100% transparent 65%);
    }

    .btn-plataforma{
        color: #fff;
        width: 10cap;
        cursor: pointer;
    }
}